<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>ACP Controle Times</title>

  <!-- 'viewport' is used by bootstrap to respond to device size -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Javascript:  JQuery from a content distribution network (CDN) -->
  <script
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
  </script>

  <!-- Bootstrap includes javascript and css  (must follow jquery) -->
  <link rel="stylesheet"
   href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
   </script>

  <!-- moment.js is the JavaScript equivalent of arrow.py -->
  <script 
    src="{{ url_for('static', filename="js/moment.min.js") }}"></script>

</head>

   <!-- Our own style sheet -->
   <link rel="stylesheet" href="/static/css/calc.css" />

<body>
<!-- bootstrap requires a 'container' div around content -->
<div class="container">

<h1>ACP Brevet Times</h1>
  <p>This worksheet is for ACP-sanctioned brevets between 200 and 1000 kilometers</p>

  <!--
  -- If there are any warnings or other messages from a prior
  -- request to the server, 
  -- they appear above the rest of the content, just until the next 
  -- action.  (This is only on request/response transactions that
  -- result in regenerating the page, not on every xmlhttp request.) 
  -->

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<!-- Design on bootstrap grid -->
<form role="form">
<div class="row">
  <div class="col-md-4">
    <label>Distance</label>
  <select name="distance" id="brevet_dist_km">
    <option value="200">200km</option>
    <option value="300">300km</option>
    <option value="400">400km</option>
    <option value="600">600km</option>
    <option value="1000">1000km</option>
  </select>
  </div> <!-- columns 1--4  -->
  <div class="col-md-6">
    <label>Begins at</label>
    <input type=date name="begin_date" id="begin_date" value="2017-01-01" />
    <input type=time name="begin_time" id="begin_time" value="00:00"    />
  </div> <!-- columns 5-10 -->
  </div> <!-- row -->

  <br />  <!-- Cosmetic -- a little vertical space -->
  <!-- Although we do not use tables for general page layout, they are
       appropriate for something that really is a table, like this
       one.  We allocate it the full 12 columns of the bootstrap grid.
  -->
  <p id="message" style="color:white; background-color:Tomato"></p>
  <div class="row">
  <div class="col-md-12"> 
  <table class="control_time_table">
      <tr>
	<th> Miles </th>
	<th> Km </th>
	<th>Location</th>
	<th>Open</th>
	<th>Close</th>
	<th>Notes</th>
      </tr>
   {% for row in range(20) %}
    <tr class="control">
      <!-- Dist (mi) -->
      <td><input name="miles" type="number" 
           min="0" max="900" size="5" id="input_miles" class="out"/></td>
      <!-- Dist (km) -->
      <td><input name="km" type="text"
	   min="0" max="1100" size="5" id="input_km" class="out"/> </td>
      <!-- Location (optional) -->
      <td><input name="location" type="text" 
        placeholder="Optional location name"
	size="20"/> </td>
      <!-- Open time (read only, set by JavaScript function -->
      <td><input name="open" type="datetime" class="out" value="" readonly /></td>
      <!-- Close time (read only, set by JavaScript function -->
      <td><input name="close" type="datetime" class="out" value="" readonly /></td>
      <!-- Notes (error messages for this row) -->
      <td id="Notes" class="notes" name="button"></td>
    </tr>
    {% endfor %}
  </table>
  </div> <!-- col -->
  </div> <!-- row -->
</form>
<button id="Submit">Submit</button>
<button id="Display">Display</button>


<script type="text/javascript">
  var SCRIPT_ROOT = {{ request.script_root|tojson|safe }} ;
  var TIME_CALC_URL = SCRIPT_ROOT + "/_calc_times";
  var SUBMIT_URL = SCRIPT_ROOT + "/_submit";
  var DISPLAY_URL = SCRIPT_ROOT + "/_display";
  var RESULT_URL = SCRIPT_ROOT + "/_result";
  // Pass calctimes a <td> element containing the data for a control.
  // It extracts the distance and calls the server to get times to
  // fill in open and close times in a human-readable format.
  // (If we want to also keep the ISO-formatted times, we'll need to
  // stash them in hidden fields.) 
  function display() {
    $.getJSON(DISPLAY_URL, 
      function(data) {
        var result = data.result;
        var res = result.res;
        console.log(res)
        if (res === "False") {
          alert("There have no DATA submited yet!\nPlease Submit data before Display");
        }
        else {
        $.getJSON(RESULT_URL)
        window.location.href="./_result";
        }
      });
  }
  function submit() {
    var distance = $("#brevet_dist_km").val()
    var data_length = 0;
    var outputs = [];
    $("input").filter(".out").each(function(){     
      data = $(this).val();
      if (data !== "") {
        data_length++;
        outputs.push(data);
      }
    });
    var res = outputs.toString();
    $.getJSON(SUBMIT_URL, {res: res, distance: distance}, 
      function(data){
        var result = data.result;
        var res = result.res;
        if (res === "False") {
          alert("There have no Data need to submit!")
        }
        else {
          alert("Data has been submited, click 'Display' to show the chart")
        }
      });
  }
  function calc_times(control) {
    var km = control.find("input[name='km']").val();
    var miles = control.find("input[name='miles']").val();
    var brevet_dist_km = $("#brevet_dist_km").val();
    var begin_time = $("#begin_time").val();
    var begin_date = $("#begin_date").val();
    var open_time_field = control.find("input[name='open']");
    var close_time_field = control.find("input[name='close']");
    
    $.getJSON(TIME_CALC_URL, { km: km, miles: miles, brevet_dist_km: brevet_dist_km, begin_date: begin_date, begin_time: begin_time },
      // response handler
      function(data) {
         var times = data.result;
         var message = times.message;
         if (message === "invalid_input") {
          $("#message").html("WARNING: Invalid Input!");
          control.find("input[name='km']").val("");
          control.find("input[name='miles']").val("");
         }
         else {
         // console.log("Got a response: " +  times);
         // console.log("Response.open = " + times.open);
         if (message === "continue") {
          $("#message").html("WARNING: Keep input! The END control point didn't been set yet!");
         }
         else if (message === "DONE"){
          $("#message").html("DONE! We got all the data, and there is the final result!");
         }
         open_time_field.val( moment(times.open).format("ddd M/D H:mm"));
         close_time_field.val( moment(times.close).format("ddd M/D H:mm"));
         }
       } // end of handler function
     );// End of getJSON
    }

  $(document).ready(function(){
   // Do the following when the page is finished loading

      $('input[name="miles"]').change(
         function() {
             var miles = parseFloat($(this).val());
             var km = (1.609344 * miles).toFixed(1) ;
             // console.log("Converted " + miles + " miles to " + km + " kilometers");
             var control_entry = $(this).parents(".control")
             var target = control_entry.find("input[name='km']");
             target.val( km );
             // Then calculate times for this entry
             calc_times(control_entry);
          });

      $('input[name="km"]').change(
         function() {
             var km = parseFloat($(this).val());
             var miles = (0.621371 * km).toFixed(1) ;
             // console.log("Converted " + km + " km to " + miles + " miles");
             var control_entry = $(this).parents(".control")
             var target = control_entry.find("input[name='miles']");
             target.val( miles );
             // Then calculate times for this entry
             calc_times(control_entry);
          });
      $("#Submit").click(
        function() {
          submit();
        });
      $("#Display").click(
        function(){
          display();
        });

     });   // end of what we do on document ready

</script>

</div>
</body> </html>
